{% extends "layout.html" %}

{% block title %}
Current Issues
{% endblock %}

{% block main %}
Here are the current issues: 
{{ pagination.info }}
{{ pagination.links }}
<br>
<table>
    <thead>
        <tr>
            <th>Issue Number</th>
            <th>Issue Title</th>
        </tr>
    </thead>
    <tbody>
{% for issue in issues %}
<tr> 
    <td>{{ issue.number }}</td>
    <td><a href="{{ url_for('issue_detail', id=issue.id) }}">{{ issue.title }}</a></td>
</tr>
{% endfor %}
</table>
</tbody>

<!-- {% for issue in issues %}
<br>
    {% for item in issue.items() %}
<div>{{ item }}</div>
    {% endfor %}
<br>
{% endfor %} -->
{% endblock %}