{% extends "layout.html" %}

{% block title %}
Current Issues
{% endblock %}

{% block main %}
Here are the current issues: 
{{ pagination.info }}
{{ pagination.links }}
<br>
{% for issue in issues %}
<br>
<div>{{ loop.index + pagination.skip }} <nbsp></nbsp> {{ issue.title }}{{ issue.id }}</div>
<a href="{{ url_for('issue_detail', id=issue.id) }}">Issue Detail</a>
{% endfor %}

<!-- {% for issue in issues %}
<br>
    {% for item in issue.items() %}
<div>{{ item }}</div>
    {% endfor %}
<br>
{% endfor %} -->
{% endblock %}